<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>GraduationDesign_KLT_Server</display-name>
	<listener>
		<listener-class>lyu.klt.frame.controller.listener.Log4jListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Initializer</servlet-name>
		<servlet-class>lyu.klt.frame.controller.servlet.Initializer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UploadDispatcher</servlet-name>
		<servlet-class>lyu.klt.frame.controller.dispatcher.UploadDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadDispatcher</servlet-name>
		<url-pattern>*.upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadDispatcher</servlet-name>
		<servlet-class>lyu.klt.frame.controller.dispatcher.DownloadDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientDownloadDispatcher</servlet-name>
		<url-pattern>*.clientdownload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClientDownloadDispatcher</servlet-name>
		<servlet-class>web.common.module.file.ClientDownloadDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserPhotoUpdateDispatcher</servlet-name>
		<url-pattern>/userPhotoUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserPhotoUpdateDispatcher</servlet-name>
		<servlet-class>web.common.module.mobile_api.UserPhotoUpdateDispatcher</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>UserDynamicImageDispatcher</servlet-name>
		<url-pattern>/userDynamicImageUpload</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserDynamicImageDispatcher</servlet-name>
		<servlet-class>web.common.module.mobile_api.UserDynamicImageDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadDispatcher</servlet-name>
		<url-pattern>*.download</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.swf</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.htc</url-pattern>
		<url-pattern>*.eot</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.otf</url-pattern>
		<url-pattern>*.apk</url-pattern>
		<url-pattern>*.mp4</url-pattern>
		<url-pattern>*.mp3</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://cn.fjzxdz.tags.core</taglib-uri>
			<taglib-location>/WEB-INF/tags/tlds/klt.tld</taglib-location>
		</taglib>
	</jsp-config>
	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>