set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go






ALTER PROCEDURE [dbo].[queryPersonalDynamic]
	@userId VARCHAR(22) ,
	@dynamicId int ,
	@msg VARCHAR(1000) OUTPUT,--MSG
	@size INT OUTPUT--ROW SIZE

as 
begin

SET NOCOUNT ON
	SET XACT_ABORT ON
	
	SELECT 
		@size=COUNT(*)
	FROM [dbo].[user]
		WHERE [userId]=@userId
	IF(@size <= 0)
		EXEC [dbo].[klt_frame_sp_raise_error] '000000','该记录不存在'

select a.*,b.[userName],b.[userPhoto],ResultTable.[isThumbUp]
from [dbo].[userDynamic] a ,[dbo].[user] b ,(select count(*) as isThumbUp from [dbo].[userThumbUp] where [userId]=@userId and [dynamicId]=@dynamicId) as ResultTable
where a.[id]=@dynamicId and b.[userId]=a.[userId]

SET @msg=[dbo].klt_frame_fn_multi_language_get_resource('000000','读取成功')
	SET @size=1
end




